@section BreadCrumb {
    <li class="breadcrumb-item">
        <a href="#">MA.Dao Extension</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}

@section Styles {

}

@section Scripts {
    <script src="~/Scripts/image-resize-for-page.js"></script>
}

<div class="row">
    <div class="normal-text">
        <!--STEP 1 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step1" href="#step1">1 - )</a> Open any project with Visual Studio 2017
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/1.png" />
        </div>
        <!--STEP 1 END-->
        <hr />
        <!--STEP 2 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step2" href="#step2">2 - )</a> Open "Solution Explorer" and select project or directory in project
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/2.png" />
        </div>
        <!--STEP 2 END-->
        <hr />
        <!--STEP 3 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step3" href="#step3">3 - )</a> Click "Tools" menu in Visual Studio 2017
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/3.png" />
        </div>
        <!--STEP 3 END-->
        <hr />
        <!--STEP 4 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step4" href="#step4">4 - )</a> 
                Click "Add MA.Dao Database" command in "Tools"
                <br />
                * If you can't see that command, go to "<a href="/MADaoVisualStudioExtension/Install" target="_blank">Install</a>" page
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/4.png" />
        </div>
        <!--STEP 4 END-->
        <hr />
        <!--STEP 5 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step5" href="#step5">5 - )</a> Connect <a href="https://github.com/mav1995MK/MA.Dal.Dao">github</a> and click "Clone or download" button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/1.png" />
        </div>
        <!--STEP 5 END-->
        <hr />
        <!--STEP 6 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step6" href="#step6">6 - )</a> Click "Download ZIP" button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/2.png" />
        </div>
        <!--STEP 6 END-->
        <hr />
        <!--STEP 7 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step7" href="#step7">7 - )</a> Download project file and extract any directory
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/3.png" />
        </div>
        <!--STEP 7 END-->
        <hr />
        <!--STEP 8 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step8" href="#step8">8 - )</a> Open "MA.Dal.Dao" in download directory
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/5.png" />
        </div>
        <!--STEP 8 END-->
        <hr />
        <!--STEP 9 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step9" href="#step9">9 - )</a> Open "MA.Dao.Generate.VSIX" in "MA.Dal.Dao"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/6.png" />
        </div>
        <!--STEP 9 END-->
        <hr />
        <!--STEP 10 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step10" href="#step10">10 - )</a> Open "MA.Dao.Generate.VSIX.App" in "MA.Dao.Generate.VSIX"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/7.png" />
        </div>
        <!--STEP 10 END-->
        <hr />
        <!--STEP 11 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step11" href="#step11">11 - )</a> Open "bin" in "MA.Dao.Generate.VSIX.App"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/8.png" />
        </div>
        <!--STEP 11 END-->
        <hr />
        <!--STEP 12 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step12" href="#step12">12 - )</a> Open "Debug" in "bin"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/9.png" />
        </div>
        <!--STEP 12 END-->
        <hr />
        <!--STEP 13 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step13" href="#step13">13 - )</a> Select "MA.Dao.Generate.VSIX.App.exe" and click "Open" button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/10.png" />
        </div>
        <!--STEP 13 END-->
        <hr />
        <!--STEP 14 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step14" href="#step14">14 - )</a> Write database connection string by database type and select database type. After that click "Connect" button
                <br />
                * If the program gets an error, open VSIX.App source and remove MySql codes
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/11.png" />
        </div>
        <!--STEP 14 END-->
        <hr />
        <!--STEP 15 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step15" href="#step15">15 - )</a> Check the rows for each tab you want and click "Ok" button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/12.png" />
        </div>
        <!--STEP 15 END-->
        <hr />
        <!--STEP 16 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step16" href="#step16">16 - )</a> Models added complete. After that need to references
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/13.png" />
        </div>
        <!--STEP 16 END-->
        <hr />
        <!--STEP 17 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step17" href="#step17">17 - )</a> Right click "References" and click "Add Reference..." for build Data Access Objects
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/14.png" />
        </div>
        <!--STEP 17 END-->
        <hr />
        <!--STEP 18 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step18" href="#step18">18 - )</a> Check "System.ComponentModel.DataAnnotations" in "Assemblies" tab
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/15.png" />
        </div>
        <!--STEP 18 END-->
        <hr />
        <!--STEP 19 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step19" href="#step19">19 - )</a> Click "Browse" tab. Add "MA.Dao.dll" and "MA.Dal.dll" with use "Browse..." button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/16.png" />
        </div>
        <!--STEP 19 END-->
        <hr />
        <!--STEP 20 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step20" href="#step20">20 - )</a> Remove system data object models and build project
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_HowToUse/17.png" />
        </div>
        <!--STEP 20 END-->
    </div>
</div>