@section BreadCrumb {
    <li class="breadcrumb-item">
        <a href="#">MA.Dao Extension</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}

@section Styles {

}

@section Scripts {
    <script src="~/Scripts/image-resize-for-page.js"></script>
}

<div class="row">
    <div class="normal-text">
        <!--STEP 1 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step1" href="#step1">1 - )</a> Connect <a href="https://github.com/mav1995MK/MA.Dal.Dao">github</a> and click "Clone or download" button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/1.png" />
        </div>
        <!--STEP 1 END-->
        <hr />
        <!--STEP 2 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step2" href="#step2">2 - )</a> Click "Download ZIP" button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/2.png" />
        </div>
        <!--STEP 2 END-->
        <hr />
        <!--STEP 3 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step3" href="#step3">3 - )</a> Download project file and extract any directory
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/3.png" />
        </div>
        <!--STEP 3 END-->
        <hr />
        <!--STEP 4 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step4" href="#step4">4 - )</a> Open "MA.Dao.Generate.VSIX" in extract directory
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/4.png" />
        </div>
        <!--STEP 4 END-->
        <hr />
        <!--STEP 5 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step5" href="#step5">5 - )</a> Open "bin" in "MA.Dao.Generate.VSIX"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/5.png" />
        </div>
        <!--STEP 5 END-->
        <hr />
        <!--STEP 6 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step6" href="#step6">6 - )</a> Open "Debug" in "MA.Dao.Generate.VSIX\bin"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/6.png" />
        </div>
        <!--STEP 6 END-->
        <hr />
        <!--STEP 7 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step7" href="#step7">7 - )</a> Open "MA.Dao.Generate.VSIX.vsix" file in "MA.Dao.Generate.VSIX\bin\Debug"
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/7.png" />
        </div>
        <!--STEP 7 END-->
        <hr />
        <!--STEP 8 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step8" href="#step8">8 - )</a> Waiting setup
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/8.png" />
        </div>
        <!--STEP 8 END-->
        <hr />
        <!--STEP 9 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step9" href="#step9">9 - )</a> Select items you want. After that click install button
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/9.png" />
        </div>
        <!--STEP 9 END-->
        <hr />
        <!--STEP 10 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step10" href="#step10">10 - )</a> Waiting installing
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/10.png" />
        </div>
        <!--STEP 10 END-->
        <hr />
        <!--STEP 11 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step11" href="#step11">11 - )</a> Install completed. Click "Close" button and open Visual Studio which version installed
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/11.png" />
        </div>
        <!--STEP 11 END-->
        <hr />
        <!--STEP 12 BEGIN-->
        <div class="col-md-12 col-sm-12 mb-3">
            <span>
                <a name="step12" href="#step12">12 - )</a> Click "Tools". If you see "Add MA.Dao Database" command, install completed
            </span>
        </div>
        <div class="col-md-12 col-sm-12 normal-text-img">
            <img src="~/Images/MADao_Extension_Install/12.png" />
        </div>
        <!--STEP 12 END-->
    </div>
</div>