@section BreadCrumb {
    <li class="breadcrumb-item">
        <a href="#">MA.Dal Examples</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
}

@section Styles {

}

@section Scripts {

}

<div class="row">
    <div class="csharp-code-example">
        <div class="WordSection1">

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">using</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black">MA.Dal;<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">using</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black">System;<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><o:p>&nbsp;</o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">namespace</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black">Learn<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black">{<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:9.5pt;
font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">static</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black"></span><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:blue">class</span><span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"></span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:#2B91AF">Program</span><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black"><o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp; </span>{<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:9.5pt;
font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">static</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black"></span><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:blue">void</span><span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black">Main(</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:blue">string</span><span style="font-size:9.5pt;font-family:Consolas;
mso-bidi-font-family:Consolas;color:black">[] args)<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>{<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:9.5pt;
font-family:Consolas;mso-bidi-font-family:Consolas;color:green">
                    // Create a new
                    connection (SqlConnection, OleDbConnection, OracleConnection, MySqlConnection
                    ...)
                </span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:
Consolas;color:black"><o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:9.5pt;
font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">using</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black">(MAData.Connection connection =</span><span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:blue">new</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black">MAData.Connection(</span><span style="font-size:9.5pt;font-family:
Consolas;mso-bidi-font-family:Consolas;color:#A31515">"&lt;connection_string&gt;"</span><span style="font-size:9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;
color:black">))<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>{<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:green">
                    // Open
                    connection for connect database
                </span><span style="font-size:9.5pt;font-family:
Consolas;mso-bidi-font-family:Consolas;color:black"><o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>connection.Open();<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><o:p>&nbsp;</o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:green">
                    // Close
                    connection for disconnect database
                </span><span style="font-size:9.5pt;
font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>connection.Close();<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>}<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>}<o:p></o:p></span>
            </p>

            <p class="MsoNormal" style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal;mso-layout-grid-align:none;text-autospace:none">
                <span style="font-size:
9.5pt;font-family:Consolas;mso-bidi-font-family:Consolas;color:black"><span style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp; </span>}<o:p></o:p></span>
            </p>

            <p class="MsoNormal">
                <span style="font-size:9.5pt;line-height:107%;font-family:
Consolas;mso-bidi-font-family:Consolas;color:black">}</span>
            </p>

        </div>
    </div>
</div>